p {
  font-size: 20px;
  font-variant: var(20px);
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.list {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-variant: var(20px);
}

/* Menu Style */
ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: blueviolet;
  color: white;
  padding: 10px 0;
}

li {
  padding: 10px 20px;
  display: inline;
}

li.active {
  background-color: rgb(44, 40, 40);
}
