body {
  width: 720px;
  margin-left: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header {
  background-color: deepskyblue;
  padding: 2px 16px;
}

h1 {
  color: white;
}

.byLine {
  color: white;
  font-style: italic;
}

.mainContent {
  background-color: aliceblue;
  padding: 4px 16px;
}

.abstract {
  font-size: 0.9em;
  font-style: italic;
  color: navy;
}

h2 {
  color: navy;
  border-bottom: 4px dotted cornflowerblue;
}

.footer {
  background-color: cornflowerblue;
  padding: 1px 16px;
}

div.footer > p {
  color: white;
  font-size: 0.8em;
}
